*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  transition: all 1s ease;
}
body {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(155, 151, 147);
}
